<form action="/post/update/<%= post.id %>" method="POST" class="form-create-post">
  <h2>Editing "<%= post.title %>"</h2>

  <input value="<%= post.title %>" type="text" class="form-control" placeholder="Post title ..." name="title">
  <textarea type="text" class="form-control" placeholder="Post content ..." name="content"><%= post.content %></textarea>
  <input value="<%= post.author %>" type="text" class="form-control" placeholder="Post author ..." name="author">

  Icon: <br />
  <input type="radio" class="form-control" name="icon" value="code" <% if ( post.icon == "code" ) { %>checked="checked"<% } %>> Code <br />
  <input type="radio" class="form-control" name="icon" value="sun-o" <% if ( post.icon == "sun-o" ) { %>checked="checked"<% } %>> Sun <br />

  Category: <br />
  <input type="radio" class="form-control" name="category" value="Climbing" <% if ( post.category == "Climbing" ) { %>checked="checked"<% } %>> Climbing <br />
  <input type="radio" class="form-control" name="category" value="Programming" <% if ( post.category == "Programming" ) { %>checked="checked"<% } %>> Programming <br />
  <input type="radio" class="form-control" name="category" value="Misc" <% if ( post.category == "Misc" ) { %>checked="checked"<% } %>> Misc <br />

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Edit Post" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
