<% if ( categoryposts[0] ) { %>
<div class="post">
  <h4>Displaying posts with category: <%= category %></h4>
</div>

<% _.each(categoryposts, function(post) { %>
<div class="post">
  <h3><i class="fa fa-clock-o"></i> <%= post.createdAt.toString().substring(0,10) %> by <%- post.author %></h3>
  <h2><a href="/read/<%= post.slug %>"><i class="fa fa-<%- post.icon %>"></i><%= post.title %></a></h2>

  <%- post.content %>
</div>
<% });

} else { %>

<div class="post">
  <h4>No posts were found with the category: <%= category %>.</h4>
  <br />
  <a class="return-to-homepage" href="/">Return to the home page.</a>
</div>

<% } %>
